/*RESET CSS*/

*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*VARIÁVEIS*/

:root{
    --branco_principal: #FFFFFF;
    --cinza_secundário: #C0C0C0;
    --botao_azul: #167BF7;
    --background: #00030C;
    --fonte_principal: "Inter";
}

/*CÓDIGO*/

/*PRINCIPAL*/

body{
    background-color: var(--background);
    font-family: var(--fonte_principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--branco_principal);
}

.principal{
    background: url("img/Background.png") no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background: var(--botao_azul);
    display: block;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    color: var(--branco_principal);
    text-decoration: none;
}

.botao__secundario{
    background: transparent;
    border: 2px solid var(--branco_principal);
    text-decoration: none;
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza_secundário);
}

/*APARELHOS*/

.secundario__imagem{
    width: 70%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.container__descricao{
    padding: 2em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza_secundário);
}

/*TELAS*/

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}